@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-5" style="color:#ff80bf;"> 
    <h1 class="display-4 fw-bold text-primary" style="color:#ff80bf;">Welcome to our website</h1>
    <p class="lead text-muted" style="color:#ff80bf;">We hope you enjoy our website</p> </div>